body {
background-color: #dfdfdf;
}
.container
{
background-color: #bebebe;
padding: 30px;
padding-bottom: 45px;
margin-top: 30px;
border-radius: 10px;
    
}
.container form
{
    margin-left: 60px;
     margin-right: 60px;
}
#container {
background-color: #bebebe;
height: 500px;
margin-bottom: 0;
}
.float-right
{
    display: inline-block;
    float: right;
}
.float-left
{
    display: inline-block;
float: left;
}
 